/* Valori iniziali */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: brown/*#f8f9fa*/;
}

/* Header principale della pagina */
.main-header {
    background-color: white;
    padding: 10px;
}

/* H1 dell'header principale della pagina */
.main-header h1 {
    display: inline;
    font-size: 42px;
    vertical-align: middle;
}

/* Immagine dell'header principale della pagina */
.main-header img {
    vertical-align: middle;
}

main {
    background-color: red;
}

/* Contenitore della pagina */
.container {
    max-width: 900px;
    margin: 0px auto;
    border: 1px solid violet;
}

/* Opzioni */
.options {
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    padding: 15px;
}

/* Span delle opzioni */
.options span {
    
}