/* Valori iniziali */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #f8f9fa;
}

/* Header principale della pagina */
.main-header {
    background-color: white;
    padding: 10px;
}

/* H1 dell'header principale della pagina */
.main-header h1 {
    display: inline;
    font-size: 42px;
    vertical-align: middle;
}

/* Immagine dell'header principale della pagina */
.main-header img {
    vertical-align: middle;
}

/* Contenitore della pagina */
.container {
    max-width: 900px;
    margin: 0px auto;
}

/* Opzioni */
.options {
    background-color: white;
    border-radius: 4px 4px 0px 0px;
    margin-top: 50px;
    padding: 20px;
}

/* Span delle opzioni */
.options span {
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

/* Opzione per l'aggiunta delle tasks */
.add-task {
    background-color: dodgerblue;
    color: white;
    margin-left: 30px;
}

/* Opzione per l'aggiunta delle sezioni */
.add-section {
    border: 1px solid #a5a5a5;
    background-color: white;
    color: #a5a5a5;
}

/* Compiti */
.tasks {
    background-color: white;
    margin-top: 2px;
    border-radius: 0px 0px 4px 4px;
    padding: 20px;
}

/* Nome compiti */
.tasks h2 {
    margin-left: 30px;
    color: #343a40;
}

/* Lista dei compiti */
.tasks ul {
    padding: 20px;
    margin-left: 30px;
}

/* Elemento della lista dei compiti */
.tasks li {
    list-style: none;
    color: #343a40;
    margin-bottom: 20px;
}

/* Cerchio */
.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

/* Cerchio verde */
.green {
    color: green;
    border: 1px solid green;
}

/* Cerchio rosso */
.red {
    color: red;
    border: 1px solid red;
}

/* Span categoria */
.category {
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
}

/* Categoria "editorial" */
.editorial {
    background-color: dodgerblue;
}

/* Categoria "q1 goals" */
.q1-goals {
    background-color: #9d4edd;
}

/* Categioria "recruiting" */
.recruiting {
    background-color: #52b788;
}

/* Categoria "mobile" */
.mobile {
    background-color: #f48c06;
}

/* Categoria "website" */
.website {
    background-color: palevioletred;
}

/* Categoria "sales" */
.sales {
    background-color: greenyellow;
}